#footer{
	position: fixed;
  width: 100%;
  bottom: 0;
  /* left: 0; */
	/* margin-bottom: 0; */
}
.footer-container{
	background: #bdbebd;
	/* background: linear-gradient(to top, #575656, #a19494); */
  /* padding: 11px 0; */
	height: 30px;
	/* margin-top: auto; */
	min-width: 300px;
}
.footer-message{
	font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, .7);
  text-align: center;
  font-weight: 900;
  font-size: 20px;
	vertical-align: middle;
}